
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/homePage.css" rel="stylesheet" />
    <title>OnlineBooksCatalog</title>
</head>
<body>
    <h1>Online Books Catalog:</h1>
    <div class="container"> 
        <p>@Html.ActionLink("Horror", "HorrorOnlineBooks", "Books")</p>
        <p>@Html.ActionLink("Mystery", "MysteryOnlineBooks", "Books")</p>
        <p>@Html.ActionLink("Romance", "RomanceOnlineBooks", "Books")</p>
        <p>@Html.ActionLink("Fiction", "FictionOnlineBooks", "Books")</p>
    </div>
</body>
</html>
