@model  mvcproject.Models.LoginCustomer
 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/registerAndLogin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <h1>Login:</h1>
    @using (Html.BeginForm("Authenticate", "Login", FormMethod.Post))
    {
        <div class="container">
            <div>
                <p>User Id:</p>
                <p>Password:</p> 
            </div>
            <div class="inputTextContainer">
                <p>@Html.TextBoxFor(model => model.customerId)<i>@Html.ValidationMessageFor(model => model.customerId)</i></p>
                <p>@Html.PasswordFor(model => model.customerPassword)<i>@Html.ValidationMessageFor(model => model.customerPassword)</i></p>
            </div>
        </div>
        <input class="submitBtn" type="submit" id="Submit1" value="Submit" />
    }
</body>
</html>
