@model mvcproject.ModelView.OnlineBooksViewModel
@using mvcproject.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/booksList.css" rel="stylesheet" />
    <title>CustomerOnlineBooksList</title>
</head>
<body>
    <h1>Your Books List:</h1>
     <div class="booksListContainer"> 
         @foreach (OnlineBook onlineBook in Model.onlineBooks)
         {
            <div class="bookContainer">
                <h2>@onlineBook.onlineBookName</h2>
                <img class="bookImg" src="@onlineBook.onlineBookImage" alt="@onlineBook.onlineBookName" />
            </div>
         }
     </div>
</body>
</html>
