@model mvcproject.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/homePage.css" rel="stylesheet" />
    <title>CustomerDetails</title>
</head>
<body>
    <h1>Your Details:</h1>
    <div class="container"> 
        <p>First Name: @Model.customerFirstName</p> 
        <p>Last Name: @Model.customerLastName</p> 
        <p>User Id: @Model.customerId</p>
        <p>Password: @Model.customerPassword</p> 
    </div>
</body>
</html>
