
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <h1>Welcome to my online library</h1>
        <br /><br />
        <i>@Html.ActionLink("Register", "Register")</i>
        <br/><br/>
        <i>@Html.ActionLink("Login", "Login")</i>
    </div>
</body>
</html>
