
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/homePage.css" rel="stylesheet" />
</head>
<body>
    <h1>Online Books Library</h1>
    <div class="container"> 
        <p>@Html.ActionLink("Register", "Register")</p>
        <p>@Html.ActionLink("Login", "Login")</p>
    </div>
</body>
</html>
