.container{
    display: flex;
    flex-flow: row;
    color: #484848;
}

.featureContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 15%;
    margin-top: 5%;
}